* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Coustard', serif;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #000;
  }
  
  ::selection {
    color: #fff;
    background: #000;
  }

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.navigation {
    border-top: solid 1px #333;
    border-bottom: solid 1px #333;
    margin: 20px;
}

header {
    font-family: 'Fredericka the Great', cursive;
    text-transform: lowercase;
    font-size:8vw;
    text-align: center;
    color: #333;
    transition: color 0.7s ease-in-out;
    margin-top: 20px;
}

header:hover {
    color: #000; /*#1DB954;*/   
}

a {
    text-decoration: none;
    color: #333;
}

.a:hover {
    color: #000;
}

.navigation {
    padding: 10px 0;
    font-size: 1.2rem;
}

.navigation>ul {
    justify-content: space-evenly; 
    list-style-type: none;
    flex-wrap: wrap;
}

.navigation>ul>li {
    padding:0 10px;
}

.navigation>ul>li>a:hover {
    font-weight: bold;
    color: #000;
}

.active {
    font-weight: bold;
    color: #000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    font-size: 1rem;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    padding: 12px 16px;
    margin: 0;
    z-index: 100;
}

.dropdown-content p {
    padding: 0 0 10px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-big {
    display: none;
}

.menu-small {
    display: flex;
}

.body {
    display: flex;
    flex-wrap: wrap;
}

.story-container {
    width: 100%;
    padding: 20px;
    border-bottom: dotted 2px #ccc;
}

.story-tag {
    font-size: 1rem;
    padding: 5px 0;
}

.story-title {
    font-size: 1.4rem;
}

.story-tag p {
    display: inline;
    padding: 4px 8px 4px 8px;
    background: #ccc;
}

.story-description {
    font-size: 1rem;
    margin: 15px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-align: justify;
    color: #000;
}

.story-info ul {
    list-style: none;
}

.story-info li {
    display: inline;
}

.story-bottom {
    display: flex;
    justify-content: space-between;
}

.story-flash {
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 0 5px;
    z-index: 10;
    position: relative;
}

.vspace {
    height: 50px;
}

.subscribe-container {
    border: solid 1px red;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;      
    /* I've used padding so you can see the edges of the elements. */
    padding:2px;
    justify-content: center;
    max-width: 600px;
    width: 70%;
    height: 50%;
  }
  
input {
/* Tell the input to use all the available space */
flex-grow:2;
/* And hide the input's outline, so the form looks like the outline */
border: none;
border-bottom: solid 2px #ccc;

}

input:focus {
/* removing the input focus blue box. Put this on the form if you like. */
outline: none;
}

button {
/* Just a little styling to make it pretty */
border:2px solid black;
padding: 0 10px;
background: #ccc;
color:black;
}

/*Footer*/
.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    color: #8a8484;
}

.footer-section {
    width: 100%;
}


.footer-container {
    width: max-content;
}

.footer-container ul {
    list-style-type: none;
    transition: all 0.5s;
    cursor: pointer;
}

.footer-container ul:hover {
    color: #000;
}

.footer-container ul>li:nth-child(1) {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 5px 0;
}

  /*Modals*/

.modal-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px)
}
    
.modal {
    background: white;
    width: 500px;
    height: 200px;
    max-width: 90%;
    max-height: 90%;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
}

.modal-header {
    padding: 10px;
    border-bottom: solid 2px #ccc;
    font-size: 1.2rem;
    display: flex;
}

.modal-head {
    flex-grow: 1;
}

.modal-body {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.modal-body ul {
    list-style-type: none;
}

.modal-body ul li {
    display: inline;
    padding: 2px 10px;
}

.story-container-full {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;        
}

.story-title-full {
    font-size: 2rem;
}

.story-description-full {
    font-size: 1.2rem;
    padding: 10px 0;
    text-align: justify;
}

.block {
    background-color: #ccc;
    padding: 10px 15px;
    margin: 10px 0;
}

@media only screen and (min-width: 610px) {
    .menu-big {
        display: flex;
    }
    
    .menu-small {
        display: none;
    }

    .story-container:nth-child(odd){
        border-right: dotted 2px #ccc;
    }
    
    .story-container {
        width: 50%;
    }

    .story-container-full {
        max-width: 800px;    
    }

    .story-title-full {
        font-size: 2.5rem;
    }

    .story-title {
        font-size: 2rem;
    }

    .story-tag {
        font-size: 1.1rem;
    }
      
    .footer-section {
        width: 50%;
    }
}